USE [QLNH_ASP]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 4/15/2023 12:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TinhTrang] [bit] NULL,
	[MaDat] [int] NULL,
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHoaDon]    Script Date: 4/15/2023 12:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDon](
	[MaHD] [int] NOT NULL,
	[MaMA] [varchar](3) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_CTHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatBan]    Script Date: 4/15/2023 12:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatBan](
	[MaDat] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayDat] [datetime] NULL,
	[NgayHetHan] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_DatBan] PRIMARY KEY CLUSTERED 
(
	[MaDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/15/2023 12:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaDat] [int] NOT NULL,
	[NgayXuatHD] [datetime] NULL,
	[TraChua] [bit] NULL,
	[MaNV] [int] NULL,
	[TongHD] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/15/2023 12:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[LaNam] [bit] NULL,
	[SDT] [char](10) NULL,
	[TraTruoc] [int] NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 4/15/2023 12:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MaMA] [varchar](3) NOT NULL,
	[MaPL] [varchar](3) NOT NULL,
	[TenMA] [nvarchar](max) NULL,
	[DonGiaSP] [int] NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MieuTa] [nvarchar](max) NULL,
	[CoSan] [bit] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MaMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/15/2023 12:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[LaNam] [bit] NULL,
	[SDT] [char](10) NULL,
	[NamSinh] [datetime] NULL,
	[DiaChi] [nvarchar](max) NULL,
	[CMND] [char](12) NULL,
	[Email] [varchar](100) NULL,
	[TenDangNhap] [varchar](20) NULL,
	[Password] [varchar](50) NULL,
	[IsAdmin] [bit] NULL,
	[SoCong] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoai]    Script Date: 4/15/2023 12:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoai](
	[MaPL] [varchar](3) NOT NULL,
	[TenPL] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhanLoai] PRIMARY KEY CLUSTERED 
(
	[MaPL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([MaBan], [TinhTrang], [MaDat]) VALUES (1, 1, 1)
INSERT [dbo].[Ban] ([MaBan], [TinhTrang], [MaDat]) VALUES (2, 0, NULL)
INSERT [dbo].[Ban] ([MaBan], [TinhTrang], [MaDat]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[Ban] OFF
GO
INSERT [dbo].[CTHoaDon] ([MaHD], [MaMA], [SoLuong], [DonGia]) VALUES (1, N'A2', 10, 150000)
INSERT [dbo].[CTHoaDon] ([MaHD], [MaMA], [SoLuong], [DonGia]) VALUES (1, N'B1', 2, 20000)
INSERT [dbo].[CTHoaDon] ([MaHD], [MaMA], [SoLuong], [DonGia]) VALUES (1, N'K1', 4, 8000)
GO
SET IDENTITY_INSERT [dbo].[DatBan] ON 

INSERT [dbo].[DatBan] ([MaDat], [MaKH], [NgayDat], [NgayHetHan], [GhiChu]) VALUES (1, 1, CAST(N'2023-03-09T00:00:00.000' AS DateTime), CAST(N'2023-03-09T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[DatBan] ([MaDat], [MaKH], [NgayDat], [NgayHetHan], [GhiChu]) VALUES (2, 2, CAST(N'2023-03-07T00:00:00.000' AS DateTime), CAST(N'2023-03-07T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[DatBan] ([MaDat], [MaKH], [NgayDat], [NgayHetHan], [GhiChu]) VALUES (3, 3, CAST(N'2023-03-08T00:00:00.000' AS DateTime), CAST(N'2023-03-09T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[DatBan] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaDat], [NgayXuatHD], [TraChua], [MaNV], [TongHD]) VALUES (1, 1, CAST(N'2023-03-09T00:00:00.000' AS DateTime), 1, 1, NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaDat], [NgayXuatHD], [TraChua], [MaNV], [TongHD]) VALUES (2, 2, CAST(N'2023-03-07T00:00:00.000' AS DateTime), 1, 2, NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaDat], [NgayXuatHD], [TraChua], [MaNV], [TongHD]) VALUES (3, 3, CAST(N'2023-03-09T00:00:00.000' AS DateTime), 0, 3, NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [LaNam], [SDT], [TraTruoc], [DiaChi]) VALUES (1, N'
Nguyễn Trường Xuân', 1, N'0934335665', 300000, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [LaNam], [SDT], [TraTruoc], [DiaChi]) VALUES (2, N'
Đặng Văn Hùng', 1, N'0382485743', 100000, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [LaNam], [SDT], [TraTruoc], [DiaChi]) VALUES (3, N'
Lâm Anh Thư', 0, N'0333565773', NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[Menu] ([MaMA], [MaPL], [TenMA], [DonGiaSP], [HinhAnh], [MieuTa], [CoSan]) VALUES (N'A1', N'2', N'Rượu Vokca', 15000, N'A1.jpg    ', N'', 1)
INSERT [dbo].[Menu] ([MaMA], [MaPL], [TenMA], [DonGiaSP], [HinhAnh], [MieuTa], [CoSan]) VALUES (N'A2', N'2', N'Bia Tiger', 15000, N'A2.jpg    ', N'', 1)
INSERT [dbo].[Menu] ([MaMA], [MaPL], [TenMA], [DonGiaSP], [HinhAnh], [MieuTa], [CoSan]) VALUES (N'B1', N'2', N'Coca', 10000, N'B1.jpg    ', N'', 1)
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [LaNam], [SDT], [NamSinh], [DiaChi], [CMND], [Email], [TenDangNhap], [Password], [IsAdmin], [SoCong]) VALUES (1, N'Hồng Cúc', 0, N'0332458433', CAST(N'2000-03-02T00:00:00.000' AS DateTime), N'34 CMT8, Quận Tân Bình, TP.HCM', N'043938483924', N'cuc23@gmail.com', N'Cuccute23', N'1234', 0, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [LaNam], [SDT], [NamSinh], [DiaChi], [CMND], [Email], [TenDangNhap], [Password], [IsAdmin], [SoCong]) VALUES (2, N'Hùng Thanh', 1, N'0735678434', CAST(N'1999-02-12T00:00:00.000' AS DateTime), N'1 Hai Bà Trưng, Quận 3, TP.HCM', N'043438978689', N'thanh12@gmail.com', N'Thanhcute12', N'1234', 0, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [LaNam], [SDT], [NamSinh], [DiaChi], [CMND], [Email], [TenDangNhap], [Password], [IsAdmin], [SoCong]) VALUES (3, N'Ngọc Kiều', 0, N'0435624656', CAST(N'1999-03-20T00:00:00.000' AS DateTime), N'23 Nguyễn Xí, Quận Bình Thạnh, TP.HCM', N'042567565445', N'kieu38@gmail.com', N'Kieucute38', N'2345', 1, NULL)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[PhanLoai] ([MaPL], [TenPL]) VALUES (N'1', N'Thức Ăn')
INSERT [dbo].[PhanLoai] ([MaPL], [TenPL]) VALUES (N'2', N'Nước Uống')
INSERT [dbo].[PhanLoai] ([MaPL], [TenPL]) VALUES (N'3', N'Tráng Miệng')
GO
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [FK_Ban_DatBan] FOREIGN KEY([MaDat])
REFERENCES [dbo].[DatBan] ([MaDat])
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [FK_Ban_DatBan]
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK_CTHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDon_Menu] FOREIGN KEY([MaMA])
REFERENCES [dbo].[Menu] ([MaMA])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK_CTHoaDon_Menu]
GO
ALTER TABLE [dbo].[DatBan]  WITH CHECK ADD  CONSTRAINT [FK_DatBan_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DatBan] CHECK CONSTRAINT [FK_DatBan_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DatBan] FOREIGN KEY([MaDat])
REFERENCES [dbo].[DatBan] ([MaDat])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DatBan]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_PhanLoai] FOREIGN KEY([MaPL])
REFERENCES [dbo].[PhanLoai] ([MaPL])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_PhanLoai]
GO
